body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 5px;
    font-family: 'Open Sans', sans-serif;
    background: #222;
    background-image: url('https://source.unsplash.com/1600x900/?landscape');
    font-size: 130%;
  }

  .container {
    background: #000000d0;
    border-radius: 27px;
    color: white;
    padding: 2em;
    width: 100%;
    max-width: 420px;
    margin: 1em;
  }
  
  .search {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  button {
    margin: 0.5em;
    border-radius: 50%;
    border: none;
    outline: none;
    background: #7c7c7c2b;
    height: 44px;
    width: 44px;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
  }
  
  input.search-bar {
    border: none;
    outline: none;
    padding: 0.4em 1em;
    border-radius: 24px;
    background: #a8a8a82b;
    color: white;
    font-size: 105%;
    width: calc(100% - 100px);
  }
  
  button:hover {
    background: #7c7c7c6b;
  }
  
  h1.temp {
    margin: 0;
    margin-bottom: 0.4em;
  }
  
  .display-icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .description {
    text-transform: capitalize;
    margin-left: 8px;
  }